# Data Import and Cleaning

#### Import libraries

In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Neighborhood Indicators

https://furmancenter.org/coredata/userguide/data-downloads

#### Import and Review Data

In [125]:
neighborhood=pd.read_csv('../data/Neighorhood_Indicators_CoreDataDownload_2020-06-30.csv')

In [45]:
neighborhood.head(3)

,Region ID,Region Display,Region Name,Region Type,Year,adlt_incar_rt,afford_le030_rct,afford_le080_rct,afford_le120_rct,crime_all_rt,...,unit_occ_own_pct,unit_occ_rent_sevcrowd_pct,unit_vac_rent_pct,units_cert,volume_1f,volume_4f,volume_al,volume_cn,volume_ot,voucher_pct
0,606,NYC,New York City,City,2000,1340.7,NaN,NaN,NaN,23.1,...,30.2%,NaN,NaN,13603.0,13586.0,13702.0,33454.0,4842.0,1324.0,NaN
1,606,NYC,New York City,City,2001,NaN,NaN,NaN,NaN,20.3,...,NaN,NaN,NaN,14289.0,13750.0,14158.0,34564.0,5281.0,1375.0,NaN
2,606,NYC,New York City,City,2002,NaN,NaN,NaN,NaN,19.3,...,NaN,NaN,NaN,15024.0,16917.0,17561.0,44909.0,8430.0,2001.0,NaN

In [46]:
neighborhood.shape

(3019, 121)

In [47]:
for col in neighborhood.columns:
    print(col)

Region ID
Region Display
Region Name
Region Type
Year
adlt_incar_rt
afford_le030_rct
afford_le080_rct
afford_le120_rct
crime_all_rt
crime_prop_rt
crime_viol_rt
gross_rent_0_1beds
gross_rent_2_3beds
hh_alone_pct
hh_inc_med_adj
hh_inc_own_med_adj
hh_inc_rent_med_adj
hh_u18_pct
hp_first_fhava_pct
hp_first_hi_pct
hp_first_orig
hp_first_orig_lmi_app_pct
hp_first_orig_lmi_nbhd_pct
hp_first_orig_rt
hpi_1f
hpi_4f
hpi_al
hpi_cn
hpi_ot
income_diversity_ratio
lp_all
lp_fam14condo_initial
lp_fam14condo_rate
lp_fam14condo_repeat
med_r_1f
med_r_4f
med_r_cn
med_r_ot
nb_permit_res_units
pct_prof_ela
pct_prof_math
pfn_fam14condo
pfn_fam14condo_rate
pop_65p_pct
pop_bornstate_pct
pop_commute_carfree_pct
pop_commute_time_avg
pop_disabled_pct
pop_discon_youth_pct
pop_edu_collp_pct
pop_edu_nohs_pct
pop_foreign_pct
pop_num
pop_pov_65p_pct
pop_pov_pct
pop_pov_u18_pct
pop_race_asian_pct
pop_race_black_pct
pop_race_div_idx
pop_race_hisp_pct
pop_race_white_pct
pop16_laborforce_pct
pop16_unemp_pct
population_density
priv_evic_amt_sought_med_adj
priv_evic_filing_rt
priv_evic_filings
prox_park_pct
prox_subway_pct
rburden_mod_ami_81_120
rburden_mod_ami_le80
rburden_sev_ami_81_120
rburden_sev_ami_le80
refi_hi_pct
refi_orig
refi_orig_rt
rent_asking_med
rent_burden_med
rent_burden_mod_pct
rent_burden_sev_pct
rent_gross_med_adj
rent_gross_recent_med_adj
rent_pct_nycha
reo
serious_viol_rate
shd_420c_props
shd_420c_units
shd_421a_props
shd_421a_units
shd_all_sub_props
shd_all_sub_units
shd_ex_2020_2025_props
shd_ex_2020_2025_units
shd_ex_2026_2035_props
shd_ex_2026_2035_units
shd_ex_2036_later_props
shd_ex_2036_later_units
shd_hud_finins_props
shd_hud_finins_units
shd_hud_pbrap_props
shd_hud_pbrap_units
shd_lihtc_props
shd_lihtc_units
shd_ml_props
shd_ml_units
shd_nyc_prog_props
shd_ph_props
shd_ph_units
total_viol_rate
unit_num
unit_occ_own_pct
unit_occ_rent_sevcrowd_pct
unit_vac_rent_pct
units_cert
volume_1f
volume_4f
volume_al
volume_cn
volume_ot
voucher_pct

#### Reformat Data Types

In [48]:
# Function to transform string with numeric and decimal characters to float value (eliminating commas and other characters)
def string_to_float(string):
    rev_string=''
    if type(string)==str:
        for char in string:
            if char in ['0','1','2','3','4','5','6','7','8','9','.']:
                rev_string+=char
        return float(rev_string)
    else:
        return float(string)

In [49]:
# Generate list of columns to be formated as float values
float_columns=[col for col in neighborhood.columns if col not in ['Region ID','Region Display','Region Name','Region Type']]
float_columns

['Year',
 'adlt_incar_rt',
 'afford_le030_rct',
 'afford_le080_rct',
 'afford_le120_rct',
 'crime_all_rt',
 'crime_prop_rt',
 'crime_viol_rt',
 'gross_rent_0_1beds',
 'gross_rent_2_3beds',
 'hh_alone_pct',
 'hh_inc_med_adj',
 'hh_inc_own_med_adj',
 'hh_inc_rent_med_adj',
 'hh_u18_pct',
 'hp_first_fhava_pct',
 'hp_first_hi_pct',
 'hp_first_orig',
 'hp_first_orig_lmi_app_pct',
 'hp_first_orig_lmi_nbhd_pct',
 'hp_first_orig_rt',
 'hpi_1f',
 'hpi_4f',
 'hpi_al',
 'hpi_cn',
 'hpi_ot',
 'income_diversity_ratio',
 'lp_all',
 'lp_fam14condo_initial',
 'lp_fam14condo_rate',
 'lp_fam14condo_repeat',
 'med_r_1f',
 'med_r_4f',
 'med_r_cn',
 'med_r_ot',
 'nb_permit_res_units',
 'pct_prof_ela',
 'pct_prof_math',
 'pfn_fam14condo',
 'pfn_fam14condo_rate',
 'pop_65p_pct',
 'pop_bornstate_pct',
 'pop_commute_carfree_pct',
 'pop_commute_time_avg',
 'pop_disabled_pct',
 'pop_discon_youth_pct',
 'pop_edu_collp_pct',
 'pop_edu_nohs_pct',
 'pop_foreign_pct',
 'pop_num',
 'pop_pov_65p_pct',
 'pop_pov_pct',
 'pop_pov_u18_pct',
 'pop_race_asian_pct',
 'pop_race_black_pct',
 'pop_race_div_idx',
 'pop_race_hisp_pct',
 'pop_race_white_pct',
 'pop16_laborforce_pct',
 'pop16_unemp_pct',
 'population_density',
 'priv_evic_amt_sought_med_adj',
 'priv_evic_filing_rt',
 'priv_evic_filings',
 'prox_park_pct',
 'prox_subway_pct',
 'rburden_mod_ami_81_120',
 'rburden_mod_ami_le80',
 'rburden_sev_ami_81_120',
 'rburden_sev_ami_le80',
 'refi_hi_pct',
 'refi_orig',
 'refi_orig_rt',
 'rent_asking_med',
 'rent_burden_med',
 'rent_burden_mod_pct',
 'rent_burden_sev_pct',
 'rent_gross_med_adj',
 'rent_gross_recent_med_adj',
 'rent_pct_nycha',
 'reo',
 'serious_viol_rate',
 'shd_420c_props',
 'shd_420c_units',
 'shd_421a_props',
 'shd_421a_units',
 'shd_all_sub_props',
 'shd_all_sub_units',
 'shd_ex_2020_2025_props',
 'shd_ex_2020_2025_units',
 'shd_ex_2026_2035_props',
 'shd_ex_2026_2035_units',
 'shd_ex_2036_later_props',
 'shd_ex_2036_later_units',
 'shd_hud_finins_props',
 'shd_hud_finins_units',
 'shd_hud_pbrap_props',
 'shd_hud_pbrap_units',
 'shd_lihtc_props',
 'shd_lihtc_units',
 'shd_ml_props',
 'shd_ml_units',
 'shd_nyc_prog_props',
 'shd_ph_props',
 'shd_ph_units',
 'total_viol_rate',
 'unit_num',
 'unit_occ_own_pct',
 'unit_occ_rent_sevcrowd_pct',
 'unit_vac_rent_pct',
 'units_cert',
 'volume_1f',
 'volume_4f',
 'volume_al',
 'volume_cn',
 'volume_ot',
 'voucher_pct']

In [50]:
for col in float_columns:
    neighborhood[col]=neighborhood[col].map(string_to_float)

#### Narrow Down Years of Observations

In [51]:
neighborhood['Year'].unique()

array([2.0000000e+03, 2.0010000e+03, 2.0020000e+03, 2.0030000e+03,
       2.0040000e+03, 2.0050000e+03, 2.0052009e+07, 2.0060000e+03,
       2.0062010e+07, 2.0070000e+03, 2.0072011e+07, 2.0080000e+03,
       2.0082012e+07, 2.0090000e+03, 2.0092013e+07, 2.0100000e+03,
       2.0102014e+07, 2.0110000e+03, 2.0112015e+07, 2.0120000e+03,
       2.0122016e+07, 2.0130000e+03, 2.0132017e+07, 2.0140000e+03,
       2.0142018e+07, 2.0150000e+03, 2.0160000e+03, 2.0170000e+03,
       2.0180000e+03, 2.0190000e+03, 2.0200000e+03])

In [52]:
# Range of years chosen to align with housing data set
neighborhood=neighborhood[neighborhood['Year'].isin(range(2000,2019))]

#### Align SubBorough and Community District Codes

In [53]:
# Separate observations into two different data sets, based on regional characteristic of observation
community_districts=neighborhood[neighborhood['Region Type']=='Community District']
subboroughs=neighborhood[neighborhood['Region Type']=='Sub-Borough Area']

In [54]:
# There are 4 fewer unique Sub-Borough Area ids because 8 Community Districts were combined into 4 for the US Census
# More info on this can be found here: https://furmancenter.org/files/sotc/SOC2009_How_to_use_the_State_of_the_City.pdf
print(len(neighborhood[neighborhood['Region Type']=='Sub-Borough Area']['Region ID'].unique()))
print(len(neighborhood[neighborhood['Region Type']=='Community District']['Region ID'].unique()))

55
59

In [55]:
# Subborough 101 is combination of Community Districts 101 and 102, SB 102 is CD 103 and 106, SB 301 is 301 and 302, and SB 303 is CD 304 and 305
# Set up dictionary with counterpart to be combined
cd_combo_dict={101:102,103:106,301:302,304:305}

In [56]:
# Remove Year column for next step 
float_columns.remove('Year')

In [57]:
community_districts.loc[(community_districts['Region ID']==101)&(community_districts['Year']==2014)].index

Int64Index([1795], dtype='int64')

In [58]:
# Average values for each community district combination and drop redundant row
for cd1 in cd_combo_dict.keys():
    cd2=cd_combo_dict[cd1]
    for col in float_columns:
        for year in range(2000,2019):
            avg=0
            val1=(community_districts[(community_districts['Region ID']==cd1)&(community_districts['Year']==year)][col]).values[0]
            val2=(community_districts[(community_districts['Region ID']==cd2)&(community_districts['Year']==year)][col]).values[0]
            if val1>0 and val2>0:
                avg=(val1+val2)/2
            elif val1>0:
                avg=val1
            elif val2>0:
                avg=val2
            if avg>0:
                community_districts.loc[(community_districts['Region ID']==cd1)&(community_districts['Year']==year)][col]=avg

/var/folders/2k/ftjqc2j13fjdstcbgbkxqvch0000gp/T/ipykernel_38747/528115775.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  community_districts.loc[(community_districts['Region ID']==cd1)&(community_districts['Year']==year)][col]=avg

In [59]:
# Drop now redundant Community Districts that have no corresponding Subborough
for value in cd_combo_dict.values():
    for index in list(community_districts[community_districts['Region ID']==value].index):
        community_districts.drop(axis=0,index=index,inplace=True)

/Users/Suzanne/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [60]:
# Generate dictionary and corresponding function to convert community district values to corresponding subborough numbers
current_values=[101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 501, 502, 503]
correct_values=[101, 101, 102, 103, 104, 102, 105, 106, 107, 108, 109, 110, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 301, 301, 302, 303, 303, 304, 305, 306, 307, 308, 309, 310, 213, 214, 215, 216, 217, 218, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 501, 502, 503]

value_dict={}
for i in range(len(current_values)):
    value_dict[current_values[i]]=correct_values[i]

def update_values_cds(i):
    return value_dict[i]

# Apply function to Region ID column of community district data
community_districts['Region ID']=community_districts['Region ID'].map(update_values_cds)

/var/folders/2k/ftjqc2j13fjdstcbgbkxqvch0000gp/T/ipykernel_38747/2072725072.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  community_districts['Region ID']=community_districts['Region ID'].map(update_values_cds)

In [61]:
# Generate function to correct erroneous subborough values in data
def update_values_sbs(x):
    if x in [311,312,313,314,315,316,317,318]:
        return x-100
    else:
        return x

# Apply function to Region ID column of subborough data
subboroughs['Region ID']=subboroughs['Region ID'].map(update_values_sbs)

/var/folders/2k/ftjqc2j13fjdstcbgbkxqvch0000gp/T/ipykernel_38747/2925886631.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subboroughs['Region ID']=subboroughs['Region ID'].map(update_values_sbs)

In [62]:
# Generate dictionary of ids and corresponding neighborhood names, to reference later
subborough_id=[101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 501, 502, 503]
subborough_name=['Mott Haven/Hunts Point', 'Morrisania/Belmont', 'Highbridge/South Concourse', 'University Heights/Fordham', 'Kingsbridge Heights/Mosholu', 'Riverdale/Kingsbridge', 'Soundview/Parkchester', 'Throgs Neck/Co-op City', 'Pelham Parkway', 'Williamsbridge/Baychester', 'Williamsburg/Greenpoint', 'Heights/Fort Greene', 'Bedford Stuyvesant', 'Bushwick', 'East New York/Starrett City', 'Park Slope/Carroll Gardens', 'Sunset Park', 'North Crown Heights/Prospect Heights', 'South Crown Heights', 'Bay Ridge', 'Bensonhurst', 'Borough Park', 'Coney Island', 'Flatbush', 'Sheepshead Bay/Gravesend', 'Brownsville/Ocean Hill', 'East Flatbush', 'Flatlands/Canarsie', 'Greenwich Village/Financial District', 'Lower East Side/Chinatown', 'Chelsea/Clinton/Midtown', 'Stuyvesant Town/Turtle-Bay', 'Upper West Side', 'Upper East Side', 'Morningside Heights/Hamilton Heights', 'Central Harlem', 'East Harlem', 'Washington Heights/Inwood', 'Astoria', 'Sunnyside/Woodside', 'Jackson Heights', 'Elmhurst/Corona', 'Middle Village/Ridgewood', 'Rego Park/Forest Hills', 'Flushing/Whitestone', 'Hillcrest/Fresh Meadows', 'Ozone Park/Woodhaven', 'South Ozone Park/Howard Beach', 'Bayside/Little Neck', 'Jamaica', 'Village', 'Rockaways', 'North Shore', 'Mid-Island', 'South Shore']

subborough_dict={}
for i in range(len(subborough_id)):
    subborough_dict[subborough_id[i]]=subborough_name[i]
    
subborough_dict

{101: 'Mott Haven/Hunts Point',
 102: 'Morrisania/Belmont',
 103: 'Highbridge/South Concourse',
 104: 'University Heights/Fordham',
 105: 'Kingsbridge Heights/Mosholu',
 106: 'Riverdale/Kingsbridge',
 107: 'Soundview/Parkchester',
 108: 'Throgs Neck/Co-op City',
 109: 'Pelham Parkway',
 110: 'Williamsbridge/Baychester',
 201: 'Williamsburg/Greenpoint',
 202: 'Heights/Fort Greene',
 203: 'Bedford Stuyvesant',
 204: 'Bushwick',
 205: 'East New York/Starrett City',
 206: 'Park Slope/Carroll Gardens',
 207: 'Sunset Park',
 208: 'North Crown Heights/Prospect Heights',
 209: 'South Crown Heights',
 210: 'Bay Ridge',
 211: 'Bensonhurst',
 212: 'Borough Park',
 213: 'Coney Island',
 214: 'Flatbush',
 215: 'Sheepshead Bay/Gravesend',
 216: 'Brownsville/Ocean Hill',
 217: 'East Flatbush',
 218: 'Flatlands/Canarsie',
 301: 'Greenwich Village/Financial District',
 302: 'Lower East Side/Chinatown',
 303: 'Chelsea/Clinton/Midtown',
 304: 'Stuyvesant Town/Turtle-Bay',
 305: 'Upper West Side',
 306: 'Upper East Side',
 307: 'Morningside Heights/Hamilton Heights',
 308: 'Central Harlem',
 309: 'East Harlem',
 310: 'Washington Heights/Inwood',
 401: 'Astoria',
 402: 'Sunnyside/Woodside',
 403: 'Jackson Heights',
 404: 'Elmhurst/Corona',
 405: 'Middle Village/Ridgewood',
 406: 'Rego Park/Forest Hills',
 407: 'Flushing/Whitestone',
 408: 'Hillcrest/Fresh Meadows',
 409: 'Ozone Park/Woodhaven',
 410: 'South Ozone Park/Howard Beach',
 411: 'Bayside/Little Neck',
 412: 'Jamaica',
 413: 'Village',
 414: 'Rockaways',
 501: 'North Shore',
 502: 'Mid-Island',
 503: 'South Shore'}

In [63]:
# Create dictionary function and create column for both data frames
def subborough_name(code):
    return subborough_dict[code]

community_districts['Region Name']=community_districts['Region ID'].map(subborough_name)
subboroughs['Region Name']=subboroughs['Region ID'].map(subborough_name)

/var/folders/2k/ftjqc2j13fjdstcbgbkxqvch0000gp/T/ipykernel_38747/1606039423.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  community_districts['Region Name']=community_districts['Region ID'].map(subborough_name)
/var/folders/2k/ftjqc2j13fjdstcbgbkxqvch0000gp/T/ipykernel_38747/1606039423.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subboroughs['Region Name']=subboroughs['Region ID'].map(subborough_name)

In [64]:
subboroughs.shape,community_districts.shape

((1045, 121), (1045, 121))

#### Compare missing values between borough, subborough, and community district level observations

In [65]:
# Isolate borough level observations for below comparison
boroughs=neighborhood[neighborhood['Region Type']=='Borough']

In [66]:
sb_na_count=list(subboroughs.isna().sum())
cd_na_count=list(community_districts.isna().sum())
b_na_count=list(boroughs.isna().sum())
columns=list(subboroughs.columns)


for i in range(len(columns)):
    print(f'{columns[i]}. CD:{cd_na_count[i]}. SB:{sb_na_count[i]}. B:{b_na_count[i]}')

Region ID. CD:0. SB:0. B:0
Region Display. CD:114. SB:1045. B:0
Region Name. CD:0. SB:0. B:0
Region Type. CD:0. SB:0. B:0
Year. CD:0. SB:0. B:0
adlt_incar_rt. CD:1045. SB:1045. B:40
afford_le030_rct. CD:1045. SB:1045. B:95
afford_le080_rct. CD:1045. SB:1045. B:95
afford_le120_rct. CD:1045. SB:1045. B:95
crime_all_rt. CD:330. SB:1045. B:0
crime_prop_rt. CD:330. SB:1045. B:0
crime_viol_rt. CD:330. SB:1045. B:0
gross_rent_0_1beds. CD:1045. SB:1045. B:25
gross_rent_2_3beds. CD:1045. SB:1045. B:25
hh_alone_pct. CD:1045. SB:275. B:25
hh_inc_med_adj. CD:1045. SB:220. B:20
hh_inc_own_med_adj. CD:1045. SB:275. B:25
hh_inc_rent_med_adj. CD:1045. SB:275. B:25
hh_u18_pct. CD:1045. SB:220. B:20
hp_first_fhava_pct. CD:1045. SB:275. B:25
hp_first_hi_pct. CD:1045. SB:330. B:30
hp_first_orig. CD:1045. SB:275. B:25
hp_first_orig_lmi_app_pct. CD:1045. SB:275. B:25
hp_first_orig_lmi_nbhd_pct. CD:1045. SB:275. B:25
hp_first_orig_rt. CD:1045. SB:275. B:25
hpi_1f. CD:82. SB:1045. B:0
hpi_4f. CD:39. SB:1045. B:0
hpi_al. CD:0. SB:1045. B:0
hpi_cn. CD:108. SB:1045. B:0
hpi_ot. CD:60. SB:1045. B:0
income_diversity_ratio. CD:1045. SB:275. B:25
lp_all. CD:0. SB:0. B:0
lp_fam14condo_initial. CD:0. SB:0. B:0
lp_fam14condo_rate. CD:0. SB:0. B:0
lp_fam14condo_repeat. CD:0. SB:0. B:0
med_r_1f. CD:44. SB:1045. B:0
med_r_4f. CD:28. SB:1045. B:0
med_r_cn. CD:67. SB:1045. B:0
med_r_ot. CD:29. SB:1045. B:0
nb_permit_res_units. CD:21. SB:1045. B:0
pct_prof_ela. CD:715. SB:1045. B:65
pct_prof_math. CD:715. SB:1045. B:65
pfn_fam14condo. CD:605. SB:1045. B:55
pfn_fam14condo_rate. CD:605. SB:1045. B:55
pop_65p_pct. CD:1045. SB:220. B:20
pop_bornstate_pct. CD:1045. SB:275. B:25
pop_commute_carfree_pct. CD:1045. SB:226. B:20
pop_commute_time_avg. CD:1045. SB:226. B:20
pop_disabled_pct. CD:1045. SB:440. B:40
pop_discon_youth_pct. CD:1045. SB:1045. B:95
pop_edu_collp_pct. CD:1045. SB:220. B:20
pop_edu_nohs_pct. CD:1045. SB:275. B:25
pop_foreign_pct. CD:1045. SB:220. B:20
pop_num. CD:1045. SB:220. B:20
pop_pov_65p_pct. CD:1045. SB:275. B:25
pop_pov_pct. CD:1045. SB:220. B:20
pop_pov_u18_pct. CD:1045. SB:275. B:25
pop_race_asian_pct. CD:1045. SB:220. B:20
pop_race_black_pct. CD:1045. SB:220. B:20
pop_race_div_idx. CD:1045. SB:220. B:20
pop_race_hisp_pct. CD:1045. SB:220. B:20
pop_race_white_pct. CD:1045. SB:220. B:20
pop16_laborforce_pct. CD:1045. SB:278. B:25
pop16_unemp_pct. CD:1045. SB:223. B:20
population_density. CD:1045. SB:330. B:30
priv_evic_amt_sought_med_adj. CD:607. SB:607. B:56
priv_evic_filing_rt. CD:605. SB:605. B:55
priv_evic_filings. CD:605. SB:605. B:55
prox_park_pct. CD:990. SB:1045. B:90
prox_subway_pct. CD:990. SB:1045. B:90
rburden_mod_ami_81_120. CD:1045. SB:1045. B:95
rburden_mod_ami_le80. CD:1045. SB:1045. B:95
rburden_sev_ami_81_120. CD:1045. SB:1045. B:95
rburden_sev_ami_le80. CD:1045. SB:1045. B:95
refi_hi_pct. CD:1045. SB:330. B:30
refi_orig. CD:1045. SB:275. B:25
refi_orig_rt. CD:1045. SB:275. B:25
rent_asking_med. CD:584. SB:1045. B:50
rent_burden_med. CD:1045. SB:220. B:20
rent_burden_mod_pct. CD:1045. SB:275. B:25
rent_burden_sev_pct. CD:1045. SB:990. B:90
rent_gross_med_adj. CD:1045. SB:220. B:20
rent_gross_recent_med_adj. CD:1045. SB:1045. B:95
rent_pct_nycha. CD:1045. SB:990. B:90
reo. CD:55. SB:1045. B:5
serious_viol_rate. CD:220. SB:1045. B:20
shd_420c_props. CD:1045. SB:1045. B:95
shd_420c_units. CD:1045. SB:1045. B:95
shd_421a_props. CD:1045. SB:1045. B:95
shd_421a_units. CD:1045. SB:1045. B:95
shd_all_sub_props. CD:1045. SB:1045. B:95
shd_all_sub_units. CD:1045. SB:1045. B:95
shd_ex_2020_2025_props. CD:1045. SB:1045. B:95
shd_ex_2020_2025_units. CD:1045. SB:1045. B:95
shd_ex_2026_2035_props. CD:1045. SB:1045. B:95
shd_ex_2026_2035_units. CD:1045. SB:1045. B:95
shd_ex_2036_later_props. CD:1045. SB:1045. B:95
shd_ex_2036_later_units. CD:1045. SB:1045. B:95
shd_hud_finins_props. CD:1045. SB:1045. B:95
shd_hud_finins_units. CD:1045. SB:1045. B:95
shd_hud_pbrap_props. CD:1045. SB:1045. B:95
shd_hud_pbrap_units. CD:1045. SB:1045. B:95
shd_lihtc_props. CD:1045. SB:1045. B:95
shd_lihtc_units. CD:1045. SB:1045. B:95
shd_ml_props. CD:1045. SB:1045. B:95
shd_ml_units. CD:1045. SB:1045. B:95
shd_nyc_prog_props. CD:1045. SB:1045. B:95
shd_ph_props. CD:1045. SB:1045. B:95
shd_ph_units. CD:1045. SB:1045. B:95
total_viol_rate. CD:220. SB:1045. B:20
unit_num. CD:1045. SB:275. B:25
unit_occ_own_pct. CD:1045. SB:220. B:20
unit_occ_rent_sevcrowd_pct. CD:1045. SB:1045. B:95
unit_vac_rent_pct. CD:1045. SB:1045. B:95
units_cert. CD:0. SB:1045. B:0
volume_1f. CD:0. SB:1045. B:0
volume_4f. CD:0. SB:1045. B:0
volume_al. CD:0. SB:1045. B:0
volume_cn. CD:0. SB:1045. B:0
volume_ot. CD:0. SB:1045. B:0
voucher_pct. CD:1045. SB:495. B:45

In [67]:
# From above comparison, identify which data frame has more observations for a given columns (community district or subborough)
# Also identify where it would be appropriate to fill in NaN value with borough average observations (medians and percent rates rather than sum totals)

# Following lists indicate columns to supplement NaN with borough level observations 
cd_b_overlap=['gross_rent_0_1beds','gross_rent_2_3beds','hpi_1f','hpi_4f','hpi_al','hpi_cn','hpi_ot','med_r_1f','med_r_4f','med_r_cn',
              'med_r_ot','nb_permit_res_units','pfn_fam14condo','pfn_fam14condo_rate','priv_evic_amt_sought_med_adj','priv_evic_filing_rt',
             'prox_park_pct','prox_subway_pct','rent_asking_med','reo','serious_viol_rate'] 

sb_b_overlap=['hh_inc_med_adj','hh_inc_own_med_adj','hh_inc_rent_med_adj','hp_first_fhava_pct','hp_first_hi_pct','hp_first_orig','hp_first_orig_lmi_app_pct','hp_first_orig_lmi_nbhd_pct',
              'hp_first_orig_rt','population_density','refi_hi_pct','refi_orig_rt','rent_gross_med_adj','rent_pct_nycha','unit_occ_own_pct',
             'voucher_pct']

In [68]:
# Fill in Region Display NaN values with step below - missing for portion of Brooklyn
community_districts['Region Display']=community_districts['Region Display'].fillna('BK')
subboroughs['Region Display']=subboroughs['Region Display'].fillna('BK')

/var/folders/2k/ftjqc2j13fjdstcbgbkxqvch0000gp/T/ipykernel_38747/3379796285.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  community_districts['Region Display']=community_districts['Region Display'].fillna('BK')
/var/folders/2k/ftjqc2j13fjdstcbgbkxqvch0000gp/T/ipykernel_38747/3379796285.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subboroughs['Region Display']=subboroughs['Region Display'].fillna('BK')

In [69]:
# Fill in Community District NaN values with corresponding borough average
# .iterrows() approach sourced from https://stackoverflow.com/questions/16476924/how-to-iterate-over-rows-in-a-dataframe-in-pandas
for index,row in community_districts.iterrows():
    year=row['Year']
    region=row['Region Display'][0:2]
    for col in cd_b_overlap:
        year=row['Year']
        if np.isnan(community_districts.loc[index,col]):
            value=boroughs[(boroughs['Year']==year)&(boroughs['Region Display']==region)][col].values[0]
            community_districts.loc[index,col]=value

/Users/Suzanne/opt/anaconda3/lib/python3.9/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [71]:
# Repeat for subboroughs
for index,row in subboroughs.iterrows():
    year=row['Year']
    region=row['Region Display'][0:2]
    for col in sb_b_overlap:
        year=row['Year']
        if np.isnan(subboroughs.loc[index,col]):
            value=boroughs[(boroughs['Year']==year)&(boroughs['Region Display']==region)][col].values[0]
            subboroughs.loc[index,col]=value

In [72]:
# Check remaining nans are relatively consistent from year to year
for year in list(subboroughs['Year'].unique()):
    num=((subboroughs[subboroughs['Year']==year]).isna().sum()).sum()
    print(year,num)

2000.0 5115
2001.0 6160
2002.0 6160
2003.0 6160
2004.0 6160
2005.0 4080
2006.0 4019
2007.0 4015
2008.0 3960
2009.0 3907
2010.0 3741
2011.0 3742
2012.0 3741
2013.0 3740
2014.0 3740
2015.0 3740
2016.0 3740
2017.0 3740
2018.0 3960

In [73]:
for year in list(community_districts['Year'].unique()):
    num=((community_districts[community_districts['Year']==year]).isna().sum()).sum()
    print(year,num)

2000.0 5225
2001.0 5225
2002.0 5225
2003.0 5225
2004.0 5115
2005.0 5005
2006.0 4840
2007.0 4840
2008.0 4840
2009.0 4840
2010.0 4621
2011.0 4510
2012.0 4510
2013.0 4400
2014.0 4400
2015.0 4400
2016.0 4400
2017.0 4290
2018.0 4620

#### Isolate columns of interest from each data frame

In [74]:
community_districts=community_districts[['Region ID', 'Region Name', 'Year', 'gross_rent_0_1beds', 'gross_rent_2_3beds', 'hpi_1f', 'hpi_4f', 'hpi_al', 'hpi_cn', 'hpi_ot', 'lp_all', 'lp_fam14condo_initial', 'lp_fam14condo_rate', 'lp_fam14condo_repeat', 'med_r_1f', 'med_r_4f', 'med_r_cn', 'med_r_ot', 'nb_permit_res_units', 'pfn_fam14condo', 'pfn_fam14condo_rate', 'priv_evic_amt_sought_med_adj', 'priv_evic_filing_rt', 'prox_park_pct', 'prox_subway_pct', 'rent_asking_med', 'reo', 'serious_viol_rate', 'total_viol_rate', 'units_cert', 'volume_1f', 'volume_4f', 'volume_al', 'volume_cn', 'volume_ot']]

subboroughs=subboroughs[['Region ID', 'Year', 'hh_inc_med_adj', 'hh_inc_own_med_adj', 'hh_inc_rent_med_adj', 'hp_first_fhava_pct', 'hp_first_hi_pct', 'hp_first_orig', 'hp_first_orig_lmi_app_pct', 'hp_first_orig_lmi_nbhd_pct', 'hp_first_orig_rt', 'population_density', 'refi_hi_pct', 'refi_orig_rt', 'rent_gross_med_adj', 'rent_pct_nycha', 'unit_occ_own_pct', 'voucher_pct']]

#### Combine data frames into one neighborhood indicator data frame

In [75]:
community_districts.shape,subboroughs.shape

((1045, 35), (1045, 18))

In [76]:
neighborhood=community_districts.merge(subboroughs,left_on=['Region ID','Year'],right_on=['Region ID','Year'])

#### Save final neighborhood dataframe

In [124]:
neighborhood.to_csv('../data/clean_neighborhood_data.csv',index=False)

## Property Exemption Detail

https://data.cityofnewyork.us/City-Government/Property-Exemption-Detail/muvi-b6kx

#### Import and review data

In [78]:
# Read in main data frame and exemption code dictionary data frame
exemption_df=pd.read_csv('../data/Property_Exemption_Detail.csv')
exemption_codes_df=pd.read_csv('../data/Exemption_Classification_Codes.csv')

/Users/Suzanne/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (0,4,69) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [79]:
exemption_df.head(3)

,PARID,BORO,BLOCK,LOT,EASE,RECTYPE,YEAR,REUC,PERIOD,EXMP_CODE,...,J51 prev exmpt ACT,J51 prev exmpt TRN,J51 base val ACT,J51 vase val TRN,J51 Govt Financed,CASENO,LLINE,EXTRACTDT,BLDG-CLASS,FINTAXCLASS
0,1000010010,1,1,10,NaN,1,2021,NaN,3,2231,...,0,0,0,0,N,26587347.0,1,20200523,Y4,4
1,1000010101,1,1,101,NaN,1,2021,NaN,3,4600,...,0,0,0,0,N,26587348.0,1,20200523,P7,4
2,1000010201,1,1,201,NaN,1,2021,NaN,3,4600,...,0,0,0,0,N,26587349.0,1,20200523,Z9,4

In [80]:
exemption_codes_df.head(3)

,Exempt Code,SDEA Code,Description,Status,Legal Ref,Comments,Updated
0,1010,41101,VETERAN,ACTIVE,RPTL Â§ 458,NaN,2013-11-25T00:00:00.000
1,1010,41121,New Law Veteran,ACTIVE,RPTL Â§ 458,NaN,2013-11-25T00:00:00.000
2,1010,41131,New Law Veteran,ACTIVE,RPTL Â§ 458,NaN,2013-11-25T00:00:00.000

In [81]:
# Print list of exemption data frame columns
for col in exemption_df.columns:
    print (col)

PARID
BORO
BLOCK
LOT
EASE
RECTYPE
YEAR
REUC
PERIOD
EXMP_CODE
EXMP_CODE-SUFFIX
EXMP_SEQ
NYS_EXMP_CODE
PSTATUS
COOP_NUM
CONDO_NUMBER
CONDO_SFX
PYEXMPTOT
PYEXMPTRN
PYEXMPTXBL
TENEXMPTOT
TENEXMPTRN
TENEXMPTXBL
CBNEXMPTOT
CBNEXMPTRN
CBNEXMPTXBL
FINEXMPTOT
FINEXMPTRN
FINEXMPTXBL
CUREXMPTOT
CUREXMPTRN
CUREXMPTXBL
Create date
EXNAME
Percent 1
Percent 2
ENTER_DATE
Percent 3
Percent 4
OWNER2
PYINCRPCT1
PYINCRPCT2
PYINCRPCT3
PYINCRPCT4
STATUS
COMPUTE_FLG
PYPARTIALPCT
NO_YEARS
BASEYR
BASETOT
BASETRNTOT
GARGCOMACT
GARGCOMPCT
GARGCOMTRN
BENFTSTART
ICIP_APPNO
421G_CERT
EFF_DATE
PRELIMDATE
421G base value ACT
J51 prev exmpt ACT
J51 prev exmpt TRN
J51 base val ACT
J51 vase val TRN
J51 Govt Financed
CASENO
LLINE
EXTRACTDT
BLDG-CLASS
FINTAXCLASS

#### Drop NaNs from exemption code data frame

In [82]:
exemption_codes_df=exemption_codes_df[exemption_codes_df['Legal Ref'].notna()]

#### Identify and filter for 421a related exemption codes

In [83]:
# Search for 421a related exemption codes
exemption_codes_df[exemption_codes_df['Legal Ref'].str.contains('421A')]

,Exempt Code,SDEA Code,Description,Status,Legal Ref,Comments,Updated
143,5110,48800,421a (10 yr not cap),ACTIVE,RPTL Â§ 421A,NaN,2013-03-01T00:00:00.000
146,5113,48800,421a (15 yr not cap),ACTIVE,RPTL Â§ 421A,NaN,2013-03-01T00:00:00.000
147,5114,48800,421a (25 yr not cap),ACTIVE,RPTL Â§ 421A,NaN,2013-03-01T00:00:00.000
149,5116,48800,421a (20 yr not cap),ACTIVE,RPTL Â§ 421A,NaN,2013-03-01T00:00:00.000
150,5117,48800,421a (10 yr cap),ACTIVE,RPTL Â§ 421A,NaN,2013-03-01T00:00:00.000
151,5118,48800,421a (15 yr cap),ACTIVE,RPTL Â§ 421A,NaN,2013-03-01T00:00:00.000

In [84]:
# Generate list of applicable exemption codes and convert to integers
exemption_codes=(exemption_codes_df[exemption_codes_df['Legal Ref'].str.contains('421A')]['Exempt Code']).tolist()
exemption_codes=[int(i) for i in exemption_codes]

In [85]:
# Narrow down exemption data frame to those with applicable exemption code
exemption_df=exemption_df[exemption_df['EXMP_CODE'].isin(exemption_codes)]

#### Narrow down relevant data

In [86]:
exemption_df.shape

(339361, 70)

In [87]:
# Only need observations to inform dummy variable - value of 1 if exemption code related to 421a
exemption_df=exemption_df[['BORO', 'BLOCK', 'LOT', 'EXMP_CODE']]

#### Generate BBL for each observation

In [88]:
# Define functions to reformat block and lot values


def block_len(num): # Needs to be 5 digits for consistent formatting
    if len(str(num))==5:
        return str(num)
    if len(str(num))==4:
        return '0'+str(num)
    if len(str(num))==3:
        return '00'+str(num)
    if len(str(num))==2:
        return '000'+str(num)
    if len(str(num))==1:
        return '0000'+str(num)

def lot_len(num): # Needs to be 4 digits
    if len(str(num))==4:
        return str(num)
    if len(str(num))==3:
        return '0'+str(num)
    if len(str(num))==2:
        return '00'+str(num)
    if len(str(num))==1:
        return '000'+str(num)

In [89]:
# Map functions onto columns to reformat
exemption_df['BORO']=exemption_df['BORO'].astype(str)
exemption_df['BLOCK']=exemption_df['BLOCK'].map(block_len)
exemption_df['LOT']=exemption_df['LOT'].map(lot_len)

In [90]:
# Combine into bbl column and convert to integer
exemption_df['bbl']=exemption_df['BORO']+exemption_df['BLOCK']+exemption_df['LOT']
exemption_df['bbl']=exemption_df['bbl'].astype(int)

In [91]:
# Remove redundant columns
exemption_df.drop(columns=['BORO','BLOCK','LOT'],inplace=True)

## Housing Database

https://www1.nyc.gov/site/planning/data-maps/open-data/dwn-housing-database.page

In [92]:
housing=pd.read_csv('../data/HousingDB_post2010_completed_jobs.csv')

In [93]:
housing.head(3)

,Job_Number,Job_Type,ResidFlag,NonresFlag,Job_Status,CompltYear,PermitYear,ClassAInit,ClassAProp,ClassANet,...,FireBattln,FireDivsn,PolicePcnt,PL_FIRM07,PL_PFIRM15,Latitude,Longitude,GeomSource,DCPEdited,Version
0,102138820,Alteration,Residential,,5. Completed Construction,2012,2008,6.0,19.0,13.0,...,11,3,24,,,40.796741,-73.962554,BIN DOB buildingfootprints,hotel_init/nhotel_prop/notherb_init/notherb_pr...,20Q4
1,102151083,Alteration,Residential,,5. Completed Construction,2011,2002,7.0,9.0,2.0,...,4,1,9,,,40.722545,-73.982291,BIN DOB buildingfootprints,,20Q4
2,102284172,Alteration,Residential,Non-Residential,5. Completed Construction,2016,2001,1.0,1.0,0.0,...,6,1,9,,,40.726385,-73.992369,BIN DOB buildingfootprints,classa_init,20Q4

In [94]:
housing.shape

(47208, 60)

In [95]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47208 entries, 0 to 47207
Data columns (total 60 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Job_Number  47208 non-null  int64
 1   Job_Type    47208 non-null  object
 2   ResidFlag   47208 non-null  object
 3   NonresFlag  47208 non-null  object
 4   Job_Status  47208 non-null  object
 5   CompltYear  47208 non-null  int64
 6   PermitYear  47208 non-null  int64
 7   ClassAInit  47208 non-null  float64
 8   ClassAProp  47208 non-null  float64
 9   ClassANet   47208 non-null  float64
 10  HotelInit   47208 non-null  object
 11  HotelProp   47208 non-null  object
 12  OtherBInit  47208 non-null  object
 13  OtherBProp  47208 non-null  object
 14  UnitsCO     47208 non-null  float64
 15  Boro        47208 non-null  int64
 16  BIN         47208 non-null  int64
 17  BBL         47208 non-null  int64
 18  AddressNum  47208 non-null  object
 19  AddressSt   47208 non-null  object
 20  Occ_Init    47208 non-null  object
 21  Occ_Prop    47208 non-null  object
 22  Job_Desc    47164 non-null  object
 23  DateFiled   47208 non-null  object
 24  DatePermit  47208 non-null  object
 25  DateLstUpd  47208 non-null  object
 26  DateComplt  47208 non-null  object
 27  ZoningDst1  47208 non-null  object
 28  ZoningDst2  47208 non-null  object
 29  ZoningDst3  47208 non-null  object
 30  SpeclDst1   47208 non-null  object
 31  SpeclDst2   47208 non-null  object
 32  Landmark    47208 non-null  object
 33  FloorsInit  47208 non-null  float64
 34  FloorsProp  47208 non-null  float64
 35  Enlargemnt  47208 non-null  object
 36  Ownership   47208 non-null  object
 37  CenBlock10  47208 non-null  int64
 38  BCTCB2010   47208 non-null  int64
 39  BCT2010     47208 non-null  int64
 40  NTA2010     47208 non-null  object
 41  NTAName10   47208 non-null  object
 42  PUMA2010    47208 non-null  int64
 43  CommntyDst  47208 non-null  int64
 44  CouncilDst  47208 non-null  int64
 45  SchSubDist  47208 non-null  object
 46  SchCommnty  47208 non-null  int64
 47  SchElmntry  47208 non-null  int64
 48  SchMiddle   47208 non-null  int64
 49  FireCmpany  47208 non-null  object
 50  FireBattln  47208 non-null  int64
 51  FireDivsn   47208 non-null  int64
 52  PolicePcnt  47208 non-null  int64
 53  PL_FIRM07   47208 non-null  object
 54  PL_PFIRM15  47208 non-null  object
 55  Latitude    47208 non-null  float64
 56  Longitude   47208 non-null  float64
 57  GeomSource  47208 non-null  object
 58  DCPEdited   47208 non-null  object
 59  Version     47208 non-null  object
dtypes: float64(8), int64(18), object(34)
memory usage: 21.6+ MB

#### Convert PUMA 2010 values into subborough ids

In [96]:
puma=[3710, 3705, 3708, 3707, 3706, 3701, 3709, 3703, 3704, 3702, 4001, 4004, 4003, 4002, 4008, 4005, 4012, 4006, 4011, 4013, 4017, 4014, 4018, 4015, 4016, 4007, 4010, 4009, 3810, 3809, 3807, 3808, 3806, 3805, 3802, 3803, 3804, 3801, 4101, 4109, 4102, 4107, 4110, 4108, 4103, 4106, 4111, 4113, 4104, 4112, 4105, 4114, 3903, 3902, 3901]
puma_dict={}

for i in range(len(puma)):
    puma_dict[puma[i]]=subborough_id[i]

def convert_puma(value):
    return puma_dict[value]

In [97]:
housing['region_id']=housing['PUMA2010'].map(convert_puma)

#### Narrow down relevant data

In [98]:
# Narrow down to projects classified as new construction
housing=housing[housing['Job_Type']=='New Building']

In [99]:
# Narrow down to projects that are classified as residential with 3 or more units
housing=housing[housing['Occ_Prop'].str.startswith('Residential: 3 or More Units')]

In [100]:
# Combine total units
housing['units']=housing['ClassAProp']+housing['ClassANet']

In [101]:
# Isolate columns of interest
housing=housing[['units','BBL', 'DateFiled', 'DateComplt','FloorsProp', 'region_id', 'Latitude', 'Longitude']]

#### Reformat columns as needed

In [102]:
# Define reformatting functions specific to each column to isolate year (dates have different formats for different columns)
def year_from_date_datefiled(date):
    return float(date[0:4]) # Float to match neighborhood data

housing['DateFiled']=housing['DateFiled'].map(year_from_date_datefiled)

def year_from_date_datecomplete(date):
    return float(date[-12:-8])

housing['DateComplt']=housing['DateComplt'].map(year_from_date_datecomplete)

In [103]:
housing.rename(columns={'BBL':'bbl','DateFiled':'year_filed','DateComplt':'year_complete','FloorsProp':'floors','Latitude':'latitude','Longitude':'longitude'},inplace=True)

## Final Data Frame

#### Generate column for housing data frame to indicate 421a participation

In [104]:
# Add initial column of zeros to housing data frame
housing['421a']=0

In [105]:
housing.head(3)

,units,bbl,year_filed,year_complete,floors,region_id,latitude,longitude,421a
4,110.0,1004207501,2001.0,2010.0,16.0,302,40.720032,-73.991651,0
43,10.0,1004710015,2000.0,2010.0,6.0,301,40.720174,-73.997206,0
83,60.0,1016390027,2002.0,2011.0,6.0,309,40.795374,-73.943304,0

In [106]:
housing.shape

(6734, 9)

In [107]:
bbl_exemption=list(exemption_df['bbl'].unique())

for index,row in housing.iterrows():
    if (row['bbl']) in bbl_exemption:
        housing.loc[index,'421a']=1

In [108]:
housing.head()

,units,bbl,year_filed,year_complete,floors,region_id,latitude,longitude,421a
4,110.0,1004207501,2001.0,2010.0,16.0,302,40.720032,-73.991651,0
43,10.0,1004710015,2000.0,2010.0,6.0,301,40.720174,-73.997206,1
83,60.0,1016390027,2002.0,2011.0,6.0,309,40.795374,-73.943304,1
113,78.0,1017160051,2002.0,2013.0,7.0,309,40.795966,-73.932160,1
126,16.0,1016767505,2003.0,2010.0,9.0,309,40.788784,-73.941054,0

In [109]:
housing['421a'].value_counts()

0    4962
1    1772
Name: 421a, dtype: int64

#### Save final housing data frame

In [123]:
housing.to_csv('../data/clean_housing_data.csv',index=False)

#### Merge housing and neighborhood data frames

In [112]:
housing.shape,neighborhood.shape

((6734, 9), (1045, 51))

In [113]:
df=housing.merge(neighborhood, left_on=['region_id','year_filed'], right_on=['Region ID','Year'])

In [114]:
df.head()

,units,bbl,year_filed,year_complete,floors,region_id,latitude,longitude,421a,Region ID,...,hp_first_orig_lmi_app_pct,hp_first_orig_lmi_nbhd_pct,hp_first_orig_rt,population_density,refi_hi_pct,refi_orig_rt,rent_gross_med_adj,rent_pct_nycha,unit_occ_own_pct,voucher_pct
0,110.0,1004207501,2001.0,2010.0,16.0,302,40.720032,-73.991651,0,302,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10.0,1004710015,2000.0,2010.0,6.0,301,40.720174,-73.997206,1,301,...,NaN,NaN,NaN,NaN,NaN,NaN,910.0,NaN,14.5,NaN
2,60.0,1016390027,2002.0,2011.0,6.0,309,40.795374,-73.943304,1,309,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,78.0,1017160051,2002.0,2013.0,7.0,309,40.795966,-73.932160,1,309,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,16.0,1016767505,2003.0,2010.0,9.0,309,40.788784,-73.941054,0,309,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [115]:
df.shape

(6719, 60)

#### Consolodate columns

In [116]:
# Focus on year the permit for new construction was filed
df.drop(columns=['Year','year_complete'],inplace=True)

In [117]:
# Eliminate redundant region id column
df.drop(columns=['Region ID'],inplace=True)

#### Evaluate NaN values

In [187]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6719 entries, 0 to 6718
Data columns (total 57 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   units                         6719 non-null   float64
 1   bbl                           6719 non-null   int64
 2   year_filed                    6719 non-null   float64
 3   floors                        6719 non-null   float64
 4   region_id                     6719 non-null   int64
 5   latitude                      6719 non-null   float64
 6   longitude                     6719 non-null   float64
 7   421a                          6719 non-null   int64
 8   Region Name                   6719 non-null   object
 9   gross_rent_0_1beds            6322 non-null   float64
 10  gross_rent_2_3beds            6322 non-null   float64
 11  hpi_1f                        6719 non-null   float64
 12  hpi_4f                        6719 non-null   float64
 13  hpi_al                        6719 non-null   float64
 14  hpi_cn                        6719 non-null   float64
 15  hpi_ot                        6719 non-null   float64
 16  lp_all                        6719 non-null   float64
 17  lp_fam14condo_initial         6719 non-null   float64
 18  lp_fam14condo_rate            6719 non-null   float64
 19  lp_fam14condo_repeat          6719 non-null   float64
 20  med_r_1f                      6719 non-null   float64
 21  med_r_4f                      6719 non-null   float64
 22  med_r_cn                      6719 non-null   float64
 23  med_r_ot                      6719 non-null   float64
 24  nb_permit_res_units           6719 non-null   float64
 25  pfn_fam14condo                3581 non-null   float64
 26  pfn_fam14condo_rate           3581 non-null   float64
 27  priv_evic_amt_sought_med_adj  3723 non-null   float64
 28  priv_evic_filing_rt           3723 non-null   float64
 29  prox_park_pct                 254 non-null    float64
 30  prox_subway_pct               254 non-null    float64
 31  rent_asking_med               3816 non-null   float64
 32  reo                           6626 non-null   float64
 33  serious_viol_rate             6488 non-null   float64
 34  total_viol_rate               6488 non-null   float64
 35  units_cert                    6719 non-null   float64
 36  volume_1f                     6719 non-null   float64
 37  volume_4f                     6719 non-null   float64
 38  volume_al                     6719 non-null   float64
 39  volume_cn                     6719 non-null   float64
 40  volume_ot                     6719 non-null   float64
 41  hh_inc_med_adj                6376 non-null   float64
 42  hh_inc_own_med_adj            6322 non-null   float64
 43  hh_inc_rent_med_adj           6322 non-null   float64
 44  hp_first_fhava_pct            6322 non-null   float64
 45  hp_first_hi_pct               6229 non-null   float64
 46  hp_first_orig                 6322 non-null   float64
 47  hp_first_orig_lmi_app_pct     6322 non-null   float64
 48  hp_first_orig_lmi_nbhd_pct    6322 non-null   float64
 49  hp_first_orig_rt              6322 non-null   float64
 50  population_density            5990 non-null   float64
 51  refi_hi_pct                   6229 non-null   float64
 52  refi_orig_rt                  6322 non-null   float64
 53  rent_gross_med_adj            6376 non-null   float64
 54  rent_pct_nycha                93 non-null     float64
 55  unit_occ_own_pct              6376 non-null   float64
 56  voucher_pct                   4090 non-null   float64
dtypes: float64(53), int64(3), object(1)
memory usage: 3.0+ MB

In [118]:
# List columns with high number of NaN values
columns_to_drop=[]
for col in df.columns:
    if df[col].isna().sum()>2000:
        columns_to_drop.append(col)

columns_to_drop

['pfn_fam14condo',
 'pfn_fam14condo_rate',
 'priv_evic_amt_sought_med_adj',
 'priv_evic_filing_rt',
 'prox_park_pct',
 'prox_subway_pct',
 'rent_asking_med',
 'rent_pct_nycha',
 'voucher_pct']

In [119]:
# Drop these columns
df.drop(columns=columns_to_drop,inplace=True)

In [120]:
# Drop remaining rows with NaN
df.dropna(inplace=True)

#### Save final data frame

In [122]:
df.to_csv('../data/final_data.csv',index=False)